@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    font-family: "Inter", 'sans-serif';
    scroll-behavior: smooth;
    max-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #FBFAFC;
    padding: 0px;
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 35px;
}


.header-title {
    font-size: 20px;   
}

.icon {
    display: flex;
}

.button {
    background-color: #3C96FF;
    padding: 15px 35px 15px 35px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: larger;
}


/* HERO */

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.devmenthors-title {
    display: flex;
    font-size: 50px;
    padding: 125px;
}
.devmenthors-title h1 {
    display: flex;
    color: #2B2B33;
    font-weight: bold;
    flex-direction: column;
    width: auto;
}
.devmenthors-title h1 span {
    font-size: 32px;
    margin-right: 60px;
    font-weight: 500;
    text-align: end;
}


/* INICIE */

.inicie-container {
    display: flex;
    gap: 25px;
}

.card {
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 10px #CEDEFF);
}

.inicie-container .inicie-right {
    width: 90%;
}

.inicie-left h1 {
    font-size: 45px;
}
.inicie-left p {
    font-size: 25px;
}

/* SOBRE */
.sobre {
    padding: 50px 0px 50px;
}

/* FEEDBACK */


.feed-card {
    display: flex;
    background-color: white;
    padding: 50px;
    gap: 50px;
    width: 650px;
    flex-shrink: 0;
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 10px #CEDEFF);
}

.feed-container {
    display: flex;
    gap: 50px;
    animation: "scrolling" infinite linear 30s;
    margin-bottom: 50px;
}

.feed-container2 {
    display: flex;
    gap: 50px;
    animation: "scrolling" reverse infinite linear 30s;
}

@keyframes scrolling {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* DUVIDAS */

.arrow {
    transition: all ease-in-out 250ms;
    cursor: pointer;
}
.arrow-clicked {
    transform: rotate(180deg);
}
.arrow:hover {
    scale: 0.95;
}
.arrow:active {
    scale: 1.05;
}



.texto-duvidas {
    transition: all ease-in-out 250ms;
    font-size: 18px; 
    height: fit-content;
}

.texto-duvidas-before {
    height: 0px;
    display: none;
}

/* INTERACTIVE - ANIMATION */

.interactive {
    transition: all ease-in-out 500ms;
    cursor: pointer;
}

.interactive:hover {
    scale: 0.95;
}
.interactive:active {
    scale: 1.05;
}


/* CLASSES GERAIS */

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.between {
    justify-content: space-between;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.bordered {
    border: none;
    border-radius: 25px;
}

.absolute {
    position: absolute;
}

.section {
    padding: 85px;
}

.white-container {
    width: 520px;
    height: 350px;
    background-color: white;
    filter: drop-shadow(5px 5px 10px #CEDEFF);
}

.svg-footer {
    box-sizing: border-box;
    pointer-events: none;
}

